<div id="home">
  <div class="container">
    <div class="container">
      <div class="jumbotron row d-flex justify-content-between align-items-center">
        <div class="col-md-6">
          <h2>This is our Home Page!</h2>
        </div>
        <div class="col-3
           justify-content-end p-0 m-0"> <button type="button" class="btn btn-info btn-lg" data-toggle="modal"
            data-target="#myModal">Make a Post!</button></div>
      </div>
    </div>
    <div class="col-8 offset-2">

      <div class="container">

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create Your Post</h4>
              </div>
              <div class="modal-body">
                <form class="clearfix mb-4" action="POST">
                  <div class="form-group">
                    <label for="genre-game">Genre</label>
                    <select class="answer" id="genre-game">
                      <option value="rpg">Role Playing Game</option>
                      <option value="fps">First Person Shooter</option>
                      <option value="sports">Sports</option>
                      <option value="racing">Racing</option>
                      <option value="adventure">Adventure</option>
                      <option value="strategy">Strategy</option>
                      <option value="action">Action</option>
                      <option value="puzzle">Puzzle</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="title-text">Title</label>
                    <input type="text" id="title-text" class="form-control" aria-describedby="title-text"
                      placeholder="Enter Title">
                  </div>
                  <div class="form-group">
                    <label for="name-text">Name</label>
                    <input type="text" id="name-text" class="form-control" aria-describedby="name-text"
                      placeholder="Enter Name Text">
                  </div>
                  <div class="form-group">
                    <label for="console-text">Console</label>
                    <input type="text" id="console-text" class="form-control" aria-describedby="console-text"
                      placeholder="Enter Console Text">
                  </div>
                  <div class="form-group">
                    <label for="sn-text">In Game Screen Name</label>
                    <input type="text" id="sn-text" class="form-control" aria-describedby="sn-text"
                      placeholder="Enter Screen Name">
                  </div>
                  <div class="form-group">
                    <label for="game-text">Game</label>
                    <input type="text" id="game-text" class="form-control" aria-describedby="game-text"
                      placeholder="Enter Game Name">
                  </div>
                  <div class="form-group">
                    <label for="post-description">Post</label>
                    <textarea class="form-control" id="post-description" aria-describedby="post-description"
                      placeholder="Enter Post Description"></textarea>
                  </div>
                  <button id="submit" class="btn btn-primary float-right">Submit</button>
                </form>

              </div>
            </div>

          </div>
        </div>

      </div>
      <div id="myBtnContainer">

        <!-- First Photo Grid-->
        <div class="w3-row-padding w3-padding-16 w3-center">

          <div class="w3-quarter image_container">
            <button class="button active" onclick="filterSelection('all')">
              <img src="/assets/images/sample.jpg" alt="" style="width:100%">
            </button>
          </div>
        </div>

        <!-- Second Photo Grid-->
        <div class="w3-row-padding w3-padding-16 w3-center">

          <div class="w3-quarter image_container">
            <button class="button" onclick="filterSelection('fps')">
              <img src="/assets/images/sample.jpg" alt="" style="width:100%">
            </button>
          </div>

          <div class="w3-quarter image_container">
            <button class="button" onclick="filterSelection('rpg')">
              <img src="/assets/images/sample.jpg" alt="" style="width:100%">
            </button>
          </div>

          <div class="w3-quarter image_container">
            <button class="button" onclick="filterSelection('sports')">
              <img src="/assets/images/sample.jpg" alt="" style="width:100%">
            </button>
          </div>

          <div class="w3-quarter image_container">
            <button class="button" onclick="filterSelection('racing')">
              <img src="/assets/images/sample.jpg" alt="" style="width:100%">
            </button>
          </div>

        </div>

        <!-- Third Photo Grid-->
        <div class="w3-row-padding w3-padding-16 w3-center">

          <div class="w3-quarter image_container">
            <button class="button" onclick="filterSelection('adventure')">
              <img src="/assets/images/sample.jpg" alt="" style="width:100%">
            </button>
          </div>

          <div class="w3-quarter image_container">
            <button class="button" onclick="filterSelection('strategy')">
              <img src="/assets/images/sample.jpg" alt="" style="width:100%">
            </button>
          </div>

          <div class="w3-quarter image_container">
            <button class="button" onclick="filterSelection('action')">
              <img src="/assets/images/sample.jpg" alt="" style="width:100%">
            </button>
          </div>

          <div class="w3-quarter image_container">
            <button class="button" onclick="filterSelection('puzzle')">
              <img src="/assets/images/sample.jpg" alt="" style="width:100%">
            </button>
          </div>

        </div>
      </div>


      <h3>Posts:</h3>


      <div class="container">
        <ul id="post-list" class="list-group">
          {{#each posts}}
          <li data-id="{{this.id}}"
            class="list-group-item filterDiv {{this.genre}} d-flex justify-content-between align-items-center">
            <a href="api/posts/{{this.id}}">{{this.title}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>

    </div>
  </div>


  <hr>

  <!-- Footer -->
  <footer class="w3-row-padding w3-padding-32">
    <div class="w3-third">
      <h3>FOOTER</h3>
      <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue
        gravida diam non fringilla.</p>
      <p><a href="/api/posts">API Posts List</a></p>
      <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </div>

  </footer>

  <script>
   filterSelection("all")
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("filterDiv");
  if (c == "all") c = "";
  for (i = 0; i < x.length; i++) {
    w3RemoveClass(x[i], "show");
    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
  }
}

function w3AddClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
  }
}

function w3RemoveClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    while (arr1.indexOf(arr2[i]) > -1) {
      arr1.splice(arr1.indexOf(arr2[i]), 1);     
    }
  }
  element.className = arr1.join(" ");
}

// Add active class to the current button (highlight it)
var btnContainer = document.getElementById("myBtnContainer");
var btns = btnContainer.getElementsByClassName("button");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function(){
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}


$(document).ready(function(){  
      $(this).hide();
});
  </script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/index.js"></script>
  {{!-- <script src="/js/filter.js"></script> --}}